---
interface Props {
  youtube?: string;
  bilibili?: string;
  title?: string;
}

const { youtube, bilibili, title = '视频' } = Astro.props;

const getYouTubeUrl = (id: string) => `https://www.youtube.com/embed/${id}`;
const getBilibiliUrl = (bvid: string) => `https://player.bilibili.com/player.html?bvid=${bvid}&high_quality=1`;
---

<div class="relative w-full pb-[56.25%] my-6 bg-bg-secondary rounded-lg overflow-hidden">
  {youtube && (
    <iframe
      src={getYouTubeUrl(youtube)}
      title={title}
      class="absolute top-0 left-0 w-full h-full border-none"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      loading="lazy"
    ></iframe>
  )}
  {bilibili && (
    <iframe
      src={getBilibiliUrl(bilibili)}
      title={title}
      class="absolute top-0 left-0 w-full h-full border-none"
      allowfullscreen
      loading="lazy"
      scrolling="no"
    ></iframe>
  )}
</div>
